@import url('https://fonts.googleapis.com/css?family=Share&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color:white;
}
.hidden { 
  display: none; 
}

.buttombar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top,rgba(1, 11, 19, 0.6), rgba(255, 255, 255, 0));
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding: 35px;
  align-items: center;
  justify-content: center;
  height: 250px;
}
.buttombar img {
  height: 120px;
  width: 120px;
  display: block;
  margin: 0 auto 20px;
}

.buttombar h1 {
  font-size: 18px;
  font-family: "Share", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  min-width: 100%;
  color: #f0f0f0;
  font-weight: 300;
}

.titles {
  font-family: 'Share' , cursive;
  float: left;
  text-align: left;
  padding-left: 100px;
}
h3 {
  font-size: 15px;
  color: white;
}
h4 {
  font-size: 15px;
  color: #9F9F9F;
}
.Progressbar {
  
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  background-color: #222;
  box-shadow: inset 0 0  5px #000;
}

.Thumb {
  height: 100%;
  background-color: #6bcc9f;
  transition: width .2s ease-in;
}

.soundButtons {
  float: right;
}

.controlButtons {
  float: left;
  flex-grow: 1
}

.playsongs {
  display: inline;
}